body{
	font-family: 'Roboto Mono', monospace;
	background-image: url(img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;

}	

.titular{
	background-color: #6AD2F3;
	color: #fff;
	text-align:center;
	height: 100px;
	width: 1280px;
	position: relative;	
	margin-top: -22px;
	margin-left: -8px;
}
h1{
	padding: 15px;
}

.fondo {
	margin-top: 125px;
	
}